In [1]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt # plotting
import numpy as np
import pandas as pd
from IPython.display import display
import pyarrow
import pyspark
from pyspark.sql import SparkSession,SQLContext
from pyspark.sql.functions import count,isnan,when,col,lit,mean,expr,last,to_date,year,month,dayofmonth

In [2]:
def distribution(data, continous_feats ,transformed = False):
    """
    Visualization code for displaying skewed distributions of features
    """
    
    # Create figure
    fig = plt.figure(figsize = (11,5))

    # Skewed feature plotting
    for i, feature in enumerate(continous_feats):
        ax = fig.add_subplot(1, 4, i+1)
        ax.hist(data[feature], bins = 25, color = '#00A0A0')
        ax.set_title("'%s' Feature Distribution"%(feature), fontsize = 14)
        ax.set_xlabel("Value")
        ax.set_ylabel("Number of Records")
        ax.set_ylim((0, 2000))
        ax.set_yticks([0, 500, 1000, 1500, 2000])
        ax.set_yticklabels([0, 500, 1000, 1500, ">2000"])

    # Plot aesthetics
    if transformed:
        fig.suptitle("Log-transformed Distributions of Continuous Census Data Features", \
            fontsize = 16, y = 1.03)
    else:
        fig.suptitle("Skewed Distributions of Continuous Census Data Features", \
            fontsize = 16, y = 1.03)

    fig.tight_layout()
    fig.show()

## reading data and general cleaning

In [3]:
#initialize spark session
spark = SparkSession.builder \
    .master('local') \
    .appName('myAppName') \
    .config('spark.executor.memory', '5gb') \
    .config("spark.cores.max", "8") \
    .getOrCreate()

In [4]:
sc = spark.sparkContext #sparkcontext
sqlContext = SQLContext(sc)

c:\Users\myass\anaconda3\lib\site-packages\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [5]:
dataset_17 = sqlContext.read.option("header", True).option("inferSchema",True).csv('./Dataset/2017.csv')
dataset_18 = sqlContext.read.option("header", True).option("inferSchema",True).csv('./Dataset/2018.csv')
dataset = dataset_17.union(dataset_18)

In [6]:
print("shape :",dataset.count(), len(dataset.columns))

shape : 12888067 28

In [7]:
#show number of partitions -- > it should be equal to number of cores
dataset.rdd.getNumPartitions()

13

In [8]:

dataset.show(5)

+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 27|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|2017-01-01|        AA|                1|   JFK| LAX|         800|   831.0|     31.0|    25.0|     856.0|   1143.0|   26.0|        1142|  1209.0|     27.0|      0.0|             null|     0.0|           402.0|              398.0|   347.0|  2475.0|         27.0|          0.0|      0.0|           0.0|                0.0|       null|
|2017-01-01|        AA|                2|   LAX| JFK|         900|   934.0|     34.0|    34.0|    1008.0|   1757.0|   12.0|        1727|  1809.0|     42.0|      0.0|             null|     0.0|           327.0|              335.0|   289.0|  2475.0|         34.0|          0.0|      8.0|           0.0|                0.0|       null|
|2017-01-01|        AA|                4|   LAX| JFK|        1130|  1221.0|     51.0|    20.0|    1241.0|   2025.0|   15.0|        1958|  2040.0|     42.0|      0.0|             null|     0.0|           328.0|              319.0|   284.0|  2475.0|          7.0|          0.0|      0.0|           0.0|               35.0|       null|
|2017-01-01|        AA|                5|   DFW| HNL|        1135|  1252.0|     77.0|    19.0|    1311.0|   1744.0|    5.0|        1612|  1749.0|     97.0|      0.0|             null|     0.0|           517.0|              537.0|   513.0|  3784.0|         77.0|          0.0|     20.0|           0.0|                0.0|       null|
|2017-01-01|        AA|                6|   OGG| DFW|        1855|  1855.0|      0.0|    16.0|    1911.0|    631.0|   11.0|         600|   642.0|     42.0|      0.0|             null|     0.0|           425.0|              467.0|   440.0|  3711.0|          0.0|          0.0|     42.0|           0.0|                0.0|       null|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
only showing top 5 rows

In [9]:
#drop column that all have NA values
dataset.dtypes

[('FL_DATE', 'string'),
 ('OP_CARRIER', 'string'),
 ('OP_CARRIER_FL_NUM', 'int'),
 ('ORIGIN', 'string'),
 ('DEST', 'string'),
 ('CRS_DEP_TIME', 'int'),
 ('DEP_TIME', 'double'),
 ('DEP_DELAY', 'double'),
 ('TAXI_OUT', 'double'),
 ('WHEELS_OFF', 'double'),
 ('WHEELS_ON', 'double'),
 ('TAXI_IN', 'double'),
 ('CRS_ARR_TIME', 'int'),
 ('ARR_TIME', 'double'),
 ('ARR_DELAY', 'double'),
 ('CANCELLED', 'double'),
 ('CANCELLATION_CODE', 'string'),
 ('DIVERTED', 'double'),
 ('CRS_ELAPSED_TIME', 'double'),
 ('ACTUAL_ELAPSED_TIME', 'double'),
 ('AIR_TIME', 'double'),
 ('DISTANCE', 'double'),
 ('CARRIER_DELAY', 'double'),
 ('WEATHER_DELAY', 'double'),
 ('NAS_DELAY', 'double'),
 ('SECURITY_DELAY', 'double'),
 ('LATE_AIRCRAFT_DELAY', 'double'),
 ('Unnamed: 27', 'string')]

In [10]:
dataset =dataset.drop('Unnamed: 27')

In [11]:
dataset.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: integer (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_TIME: double (nullable = true)
 |-- DEP_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- CRS_ARR_TIME: integer (nullable = true)
 |-- ARR_TIME: double (nullable = true)
 |-- ARR_DELAY: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CRS_ELAPSED_TIME: double (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: double (nullable = true)
 |-- CARRIER_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)
 |-- NAS_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)

In [12]:
dataset.show(1)

+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+
|2017-01-01|        AA|                1|   JFK| LAX|         800|   831.0|     31.0|    25.0|     856.0|   1143.0|   26.0|        1142|  1209.0|     27.0|      0.0|             null|     0.0|           402.0|              398.0|   347.0|  2475.0|         27.0|          0.0|      0.0|           0.0|                0.0|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+
only showing top 1 row

In [13]:
t =dataset.count()

In [ ]:
#print number of null values for each column
amount_missing_df = dataset.select([count(when(col(c).isNull(), c)).alias(c) for c in dataset.columns]).show()

In [14]:
# amount_missing_df.head()

In [15]:
delays = ["CARRIER_DELAY", "WEATHER_DELAY", "NAS_DELAY", "SECURITY_DELAY" ,"LATE_AIRCRAFT_DELAY"]

In [ ]:
# ARR_Delay is the total delay on arrival in minutes , only 1.8% is missing 
# on the other hand ,  [CARRIER_DELAY WEATHER_DELAY NAS_DELAY SECURITY_DELAY LATE_AIRCRAFT_DELAY] values have 81.5% NA 
# removing all records with NA values will severely shrink dataset 
# before we remove all these records , we can try to fill NA values of delay features
# we compare number of zeros of a row with total number of records without NA
for delay in delays:
    print("type of delay :",delay)
    print("# of zeros :",dataset.filter(col(delay)==0).count())
    print("# of zeros percent :",dataset.filter(col(delay)==0).count()/((18.5/100)*t))
    print("mean : ",dataset.select(mean(delay)).collect())
    print("--------")

In [16]:
# we can deduce that number of zeros is dominant in these features , so filling NAs with mean,ffill,backfill,mode or interpolation are not sensible (outliers will increase mean) 
# best options are zero filling or median(which will probably be 0)
dataset = dataset.fillna(0,subset=delays)

In [17]:
dataset.select([count(when(col(c).isNull(), c)).alias(c) for c in delays]).show()

+-------------+-------------+---------+--------------+-------------------+
|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|
+-------------+-------------+---------+--------------+-------------------+
|            0|            0|        0|             0|                  0|
+-------------+-------------+---------+--------------+-------------------+

In [18]:
dataset.show(1)

+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+
|2017-01-01|        AA|                1|   JFK| LAX|         800|   831.0|     31.0|    25.0|     856.0|   1143.0|   26.0|        1142|  1209.0|     27.0|      0.0|             null|     0.0|           402.0|              398.0|   347.0|  2475.0|         27.0|          0.0|      0.0|           0.0|                0.0|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+
only showing top 1 row

In [19]:
# drop cancellation code - 98% missing and irrelevant
dataset =dataset.drop('CANCELLATION_CODE')

In [20]:
#drop NAs
dataset_visualization = dataset.dropna()

In [ ]:
#removed around 1.8% of data only
print("shape :",dataset_visualization.count(), len(dataset_visualization.columns))

In [ ]:
dataset_visualization.select("OP_CARRIER").distinct().show()

In [21]:
#after inspection of op_carriers feature levels , we figured actual carrier names 
carriers_dict = {
    'UA':'United Airlines',
    'AS':'Alaska Airlines',
    '9E':'Endeavor Air',
    'B6':'JetBlue Airways',
    'EV':'ExpressJet',
    'F9':'Frontier Airlines',
    'G4':'Allegiant Air',
    'HA':'Hawaiian Airlines',
    'MQ':'Envoy Air',
    'NK':'Spirit Airlines',
    'OH':'PSA Airlines',
    'OO':'SkyWest Airlines',
    'VX':'Virgin America',
    'WN':'Southwest Airlines',
    'YV':'Mesa Airline',
    'YX':'Republic Airways',
    'AA':'American Airlines',
    'DL':'Delta Airlines'
}
dataset_visualization = dataset_visualization.replace(carriers_dict,1,'OP_CARRIER')

c:\Users\myass\anaconda3\lib\site-packages\pyspark\sql\dataframe.py:2233: UserWarning: to_replace is a dict and value is not None. value will be ignored.
  warnings.warn("to_replace is a dict and value is not None. value will be ignored.")

In [ ]:
dataset_visualization.select("OP_CARRIER").distinct().show()

In [22]:
dataset_visualization = dataset_visualization.withColumn('year',year(dataset_visualization.FL_DATE))
dataset_visualization = dataset_visualization.withColumn('month',month(dataset_visualization.FL_DATE))
dataset_visualization = dataset_visualization.withColumn('day',dayofmonth(dataset_visualization.FL_DATE))
dataset_visualization.show()

+----------+-----------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+-----+---+
|   FL_DATE|       OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|year|month|day|
+----------+-----------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+-----+---+
|2017-01-01|American Airlines|                1|   JFK| LAX|         800|   831.0|     31.0|    25.0|     856.0|   1143.0|   26.0|        1142|  1209.0|     27.0|      0.0|     0.0|           402.0|              398.0|   347.0|  2475.0|         27.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|                2|   LAX| JFK|         900|   934.0|     34.0|    34.0|    1008.0|   1757.0|   12.0|        1727|  1809.0|     42.0|      0.0|     0.0|           327.0|              335.0|   289.0|  2475.0|         34.0|          0.0|      8.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|                4|   LAX| JFK|        1130|  1221.0|     51.0|    20.0|    1241.0|   2025.0|   15.0|        1958|  2040.0|     42.0|      0.0|     0.0|           328.0|              319.0|   284.0|  2475.0|          7.0|          0.0|      0.0|           0.0|               35.0|2017|    1|  1|
|2017-01-01|American Airlines|                5|   DFW| HNL|        1135|  1252.0|     77.0|    19.0|    1311.0|   1744.0|    5.0|        1612|  1749.0|     97.0|      0.0|     0.0|           517.0|              537.0|   513.0|  3784.0|         77.0|          0.0|     20.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|                6|   OGG| DFW|        1855|  1855.0|      0.0|    16.0|    1911.0|    631.0|   11.0|         600|   642.0|     42.0|      0.0|     0.0|           425.0|              467.0|   440.0|  3711.0|          0.0|          0.0|     42.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|                7|   DFW| OGG|         940|  1619.0|    399.0|    12.0|    1631.0|   2031.0|    6.0|        1403|  2037.0|    394.0|      0.0|     0.0|           503.0|              498.0|   480.0|  3711.0|        394.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|                8|   HNL| DFW|        1838|  1903.0|     25.0|    19.0|    1922.0|    636.0|   12.0|         550|   648.0|     58.0|      0.0|     0.0|           432.0|              465.0|   434.0|  3784.0|         25.0|          0.0|     33.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|                9|   JFK| SFO|         700|   656.0|     -4.0|    22.0|     718.0|   1020.0|    3.0|        1045|  1023.0|    -22.0|      0.0|     0.0|           405.0|              387.0|   362.0|  2586.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               10|   LAX| JFK|        2100|  2100.0|      0.0|    15.0|    2115.0|    447.0|   10.0|         527|   457.0|    -30.0|      0.0|     0.0|           327.0|              297.0|   272.0|  2475.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               12|   SFO| JFK|        1135|  1130.0|     -5.0|    27.0|    1157.0|   1937.0|   17.0|        2018|  1954.0|    -24.0|      0.0|     0.0|           343.0|              324.0|   280.0|  2586.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               14|   OGG| LAX|        2313|  2350.0|     37.0|     9.0|    2359.0|    628.0|   11.0|         630|   639.0|      9.0|      0.0|     0.0|           317.0|              289.0|   269.0|  2486.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               15|   JFK| SFO|         825|   824.0|     -1.0|    19.0|     843.0|   1149.0|    3.0|        1212|  1152.0|    -20.0|      0.0|     0.0|           407.0|              388.0|   366.0|  2586.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               16|   SFO| JFK|        1305|  1259.0|     -6.0|    14.0|    1313.0|   2059.0|    8.0|        2137|  2107.0|    -30.0|      0.0|     0.0|           332.0|              308.0|   286.0|  2586.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               19|   JFK| LAX|         900|   856.0|     -4.0|    22.0|     918.0|   1204.0|   29.0|        1246|  1233.0|    -13.0|      0.0|     0.0|           406.0|              397.0|   346.0|  2475.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               20|   SFO| JFK|        1530|  1525.0|     -5.0|    16.0|    1541.0|   2319.0|   14.0|        2357|  2333.0|    -24.0|      0.0|     0.0|           327.0|              308.0|   278.0|  2586.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               21|   JFK| LAX|        1900|  1922.0|     22.0|    20.0|    1942.0|   2241.0|   37.0|        2247|  2318.0|     31.0|      0.0|     0.0|           407.0|              416.0|   359.0|  2475.0|         22.0|          0.0|      9.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               22|   LAX| JFK|        1340|  1346.0|      6.0|    14.0|    1400.0|   2149.0|   14.0|        2208|  2203.0|     -5.0|      0.0|     0.0|           328.0|              317.0|   289.0|  2475.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               23|   JFK| LAX|        2215|  2225.0|     10.0|    23.0|    2248.0|    154.0|    9.0|         157|   203.0|      6.0|      0.0|     0.0|           402.0|              398.0|   366.0|  2475.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               25|   ORD| LAS|        1705|  1707.0|      2.0|    13.0|    1720.0|   1858.0|   17.0|        1907|  1915.0|      8.0|      0.0|     0.0|           242.0|              248.0|   218.0|  1514.0|          0.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
|2017-01-01|American Airlines|               28|   LAX| JFK|        2200|  2202.0|      2.0|    22.0|    2224.0|    557.0|   55.0|         627|   652.0|     25.0|      0.0|     0.0|           327.0|              350.0|   273.0|  2475.0|          2.0|          0.0|     23.0|           0.0|                0.0|2017|    1|  1|
+----------+-----------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+-----+---+
only showing top 20 rows

In [23]:
dataset_visualization.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: integer (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_TIME: double (nullable = true)
 |-- DEP_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: double (nullable = true)
 |-- WHEELS_ON: double (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- CRS_ARR_TIME: integer (nullable = true)
 |-- ARR_TIME: double (nullable = true)
 |-- ARR_DELAY: double (nullable = true)
 |-- CANCELLED: double (nullable = true)
 |-- DIVERTED: double (nullable = true)
 |-- CRS_ELAPSED_TIME: double (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: double (nullable = true)
 |-- CARRIER_DELAY: double (nullable = false)
 |-- WEATHER_DELAY: double (nullable = false)
 |-- NAS_DELAY: double (nullable = false)
 |-- SECURITY_DELAY: double (nullable = false)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = false)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)

In [24]:
dataset_visualization.show(1)

+----------+-----------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+-----+---+
|   FL_DATE|       OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|year|month|day|
+----------+-----------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+-----+---+
|2017-01-01|American Airlines|                1|   JFK| LAX|         800|   831.0|     31.0|    25.0|     856.0|   1143.0|   26.0|        1142|  1209.0|     27.0|      0.0|     0.0|           402.0|              398.0|   347.0|  2475.0|         27.0|          0.0|      0.0|           0.0|                0.0|2017|    1|  1|
+----------+-----------------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+-----+---+
only showing top 1 row

In [25]:
df_vis = dataset_visualization

In [ ]:
#write the dataset for visualization using parquet dataformat ,fast and low memory usage
df_vis = df_vis.toPandas()

In [ ]:
df_vis.to_parquet("./Dataset/dataset_visualization_spark.parquet")

## After preparing a dataset for visualization , prepare the data for ML

In [ ]:
#drop flight number - not needed
dataset_visualization.drop('OP_CARRIER_FL_NUM', inplace=True, axis=1)

#drop flight date - irrelevant
dataset_visualization.drop('FL_DATE', inplace=True, axis=1)

# drop diverted - feature irrelevant to problem 
dataset_visualization.drop('DIVERTED', inplace=True, axis=1)

In [ ]:
dataset_visualization.shape

In [ ]:
#remove all rows having NA values
dataset_ML = dataset_visualization.dropna()

In [ ]:
dataset_ML.shape

In [ ]:
display(dataset_ML.head(n=10))

In [ ]:
#print insights on number of origin and dest 
categorical = ["ORIGIN","DEST"] 
print("Number of departure locations : ",len(dataset_ML[categorical[0]].unique()))
print("Number of destination locations : ",len(dataset_ML[categorical[1]].unique()))

### Looking at the ORIGIN and DEST features , they have huge number of unique values , this means that :
- using hot encoding for converting to numerical features will yield huge number of features which will lead to the curse of dimensionality 
- using label encoding will yield to only one feature , but the feature values will have great std deviation and labels will have different priority
- so it would be better if we drop both

### for the op_carrier :
- different carriers may differ in plane services but irrelevant to our problem so it will be removed

### FL_Date is only used for visualization so it will be removed , same for month day and year features
- we could have made use of month feature because of its relation to a season in a year , but the data is only based on domestic flights of the US so it will biased to seasonality in the US only , model needs to generalize regardless

In [ ]:
dataset_ML=dataset_ML.drop('OP_CARRIER', axis=1)

In [ ]:
dataset_ML=dataset_ML.drop('ORIGIN',axis=1)

In [ ]:
dataset_ML=dataset_ML.drop('DEST',axis=1)

In [ ]:
dataset_ML=dataset_ML.drop('Month',axis=1)

In [ ]:
dataset_ML=dataset_ML.drop('Day',axis=1)

In [ ]:
dataset_ML=dataset_ML.drop('Year',axis=1)

In [ ]:
display(dataset_ML.head(n=5))

In [ ]:
#write the dataset for visualization using parquet dataformat , fast and low memory usage
dataset_ML.to_parquet("./Dataset/dataset_ML.parquet",index=False)